
@{
    ViewData["Title"] = "OgrenciEkle";
}

<h1>Ogrenci Ekleme</h1>
<form action="/Ogrenci/OgrenciEkle" method="post">
    <label>Ad:</label>
    <input type="text" name="Ad" id="Ad"/>
    <label>Soyad:</label>
    <input type="text" name="Soyad" id="Soyad"/>
    <label>Yaş:</label>
    <input type="number" name="Yas" id="Yas"/>
    <input type="submit" value="Kaydet" />
</form>

